<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Requirements Management</title>
</head>
<body>

    <div class="header-container">
     <!--  
        <form action="{{ url_for('selectcolor') }}" method="POST">
            
            <label for="color">Choose a color:</label>
            <input type="color" id="color" name="color" value="{{ color }}"> 
    
            <button type="submit">Submit</button>
        </form> -->
        <h2>Requirement Management</h2>

        <button onclick="AddRequirementModal()">Add Requirement</button>

        <form action="{{ url_for('graph') }}" method="GET">
            <button type="submit">Report</button>
        </form>


        <form action="{{ url_for('ctracker') }}" method="GET">
            <button type="submit">Candidate Management</button>
        </form>
    </div>

    <!-- Requirement Modal -->
    <div id="requirementModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3 id="modalTitle">Add Requirement</h3>
                <form action="/managerequirement" method="POST">

                    <div class="form-group">
                        <label for="requirementname">Requirement Name</label>
                        <input type="text" id="requirementname" name="requirementname" required>
                    </div>
        
                    <div class="form-group">
                        <label for="clientname">Client Name</label>
                        <input type="text" id="clientname" name="clientname" required>
                    </div>
        
                    <div class="form-group">
                        <label for="clientmanager">Client Manager</label>
                        <input type="text" id="clientmanager" name="clientmanager" required>
                    </div>
        
                    <div class="form-group">
                        <label for="departmentname">Department Name</label>
                        <input type="text" id="departmentname" name="departmentname" required>
                    </div>
        
                    <div class="form-group">
                        <label for="accountmanager">Account Manager</label>
                        <input type="text" id="accountmanager" name="accountmanager" required>
                    </div>
        
                    <div class="form-group">
                        <label for="jobdescription">Job Description</label>
                        <input type="text" id="jobdescription" name="jobdescription" required></textarea>
                    </div>
        
                    <div class="form-group">
                        <label for="workexperience">Work Experience</label>
                        <input type="text" id="workexperience" name="workexperience" required>
                    </div>
        
                    <div class="form-group">
                        <label for="openposition">Open Position</label>
                        <input type="number" id="openposition" name="openposition" required>
                    </div>

                    <div class="form-group">
                        <label for="timing">Timing</label>
                        <input type="text" id="timing" name="timing" optional>
                    </div>
					
					<div class="form-group">
                        <label for="locationname">Location Name</label>
                        <input type="text" id="locationname" name="locationname" optional>
                    </div>
					
					<div class="form-group">
                        <label for="workmode">WorkMode</label>
                        <select id="workmode" name="workmode" required>
                            <option value="WFO">WFO</option>
                            <option value="Remote">Remote</option>
							<option value="Hybrid">Hybrid</option>
                        </select>
                    </div>
					
					<div class="form-group">
                        <label for="recruiter">Recruiter Name</label>
                        <input type="text" id="recruiter" name="recruiter" optional>
                    </div>
					
					<div class="form-group">
                        <label for="budget">Budget</label>
                        <input type="text" id="budget" name="budget" optional>
                    </div>
					
					<div class="form-group">
                        <label for="comment">Comment</label>
                        <input type="text" id="comment" name="comment" optional>
                    </div>
        
                    <div class="form-group">
                        <label for="startdate">Start Date</label>
                        <input type="date" id="startdate" name="startdate" required>
                    </div>
        
                    <div class="form-group">
                        <label for="enddate">End Date</label>
                        <input type="date" id="enddate" name="enddate" optional>
                    </div>
        
                    <div class="form-group">
                        <label for="display">Display</label>
                        <select id="display" name="display" required>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" name="status" required>
                            <option value="Open">Open</option>
                            <option value="Inprogress">Inprogress</option>
							<option value="Filled">Filled</option>
							<option value="onhold">onhold</option>
							<option value="Lost">Lost</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <button type="submit">Submit</button>
                    </div>
                </form>
        </div>
    </div>

    {% if request.args.get('alert') %}
        <div id ="alert" class="alert alert-success">
            {{ request.args.get('alert')}}
        </div>
    {% endif %}
    <div class="table-container">
    <table >
        <thead>
            <tr>
                <th class="sticky-column">Requirement id</th>
                <th class="sticky-column">Requirement Name</th>
                <th class="sticky-column">Client Name</th>
                <th>Client Manager</th>
                <th>Department Name</th>
                <th>Account Manager</th>
                <th>Job Description</th>
                <th>Total Work Experience</th>
                <th>Total Open Position</th>
                <th>Timing</th>
                <th>location Name</th>
                <th>WorkMode</th>
                <th>Recruiter</th>
                <th>Budget</th>
                <th>Comment</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Display?</th>
				<th>Status</th>
				<th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for requirement in requirements %}
            <tr>
                <td class="sticky-column" id="reqid" ">{{ requirement['id'] }}</td>
                <td class="sticky-column">{{ requirement['requirementname'] }}</td>
                <td class="sticky-column">{{ requirement['clientname'] }}</td>
                <td class="tooltip" >{{ requirement['clientmanager'] }}</td>
                <td class="tooltip" >{{ requirement['departmentname'] }}</td>
                <td class="tooltip">{{ requirement['accountmanager'] }}</td>
                <td class="tooltip">{{ requirement['jobdescription'] }}</td>
                <td class="tooltip">{{ requirement['workexperience'] }}</td>
                <td>{{ requirement['openposition'] }}</td>
                <td>{{ requirement['timing'] }}</td>
                <td>{{ requirement['locationname'] }}</td>
                <td>{{ requirement['workmode'] }}</td>
                <td>{{ requirement['recruiter'] }}</td>
                <td>{{ requirement['budget'] }}</td>
                <td>{{ requirement['comment'] }}</td>
                <td>{{ requirement['startdate'] }}</td>
                <td>{{ requirement['enddate'] }}</td>
                <td>{{ requirement['display'] }}</td>
                <td>{{ requirement['status'] }}</td>
                <td>
                    <!-- Action Form -->
                       
                    <button onclick="editrequirementModal()" data-bs-toggle="modal" data-bs-target="#editModal"
                    data-id="{{ requirement.id }}">Edit</button>
                
                    <form action="{{ url_for('delete', record_id=requirement.id) }}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button> 
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="12">No data available. Kindly add new requirement</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="editcloseModal()">&times;</span>
            <h3 id="modalTitle">Edit Requirement</h3>
                <form id="editmodal" action="/edit" method="POST">

                    <div class="form-group">
                        <label for="id">Requirement Id</label>
                        <input type="text" id="requirementid" name="requirementid" required>
                    </div>

                    <div class="form-group">
                        <label for="requirementname">Requirement Name</label>
                        <input type="text" id="requirementname_edit" name="requirementname"  required>
                    </div>
        
                    <div class="form-group">
                        <label for="clientname">Client Name</label>
                        <input type="text" id="clientname_edit" name="clientname"  required>
                    </div>
        
                    <div class="form-group">
                        <label for="clientmanager">Client Manager</label>
                        <input type="text" id="clientmanager_edit" name="clientmanager" required>
                    </div>
        
                    <div class="form-group">
                        <label for="departmentname">Department Name</label>
                        <input type="text" id="departmentname_edit" name="departmentname" required>
                    </div>
        
                    <div class="form-group">
                        <label for="accountmanager">Account Manager</label>
                        <input type="text" id="accountmanager_edit" name="accountmanager" required>
                    </div>
        
                    <div class="form-group">
                        <label for="jobdescription">Job Description</label>
                        <input type="text" id="jobdescription_edit" name="jobdescription" required></textarea>
                    </div>
        
                    <div class="form-group">
                        <label for="workexperience">Work Experience</label>
                        <input type="text" id="workexperience_edit" name="workexperience" required>
                    </div>
        
                    <div class="form-group">
                        <label for="openposition">Open Position</label>
                        <input type="number" id="openposition_edit" name="openposition" required>
                    </div>

                    <div class="form-group">
                        <label for="timing">Timing</label>
                        <input type="text" id="timing_edit" name="timing" optional>
                    </div>
					
					<div class="form-group">
                        <label for="locationname">Location Name</label>
                        <input type="text" id="locationname_edit" name="locationname" optional>
                    </div>
					
					<div class="form-group">
                        <label for="workmode">WorkMode</label>
                        <select id="workmode_edit" name="workmode" required>
                            <option value="WFO">WFO</option>
                            <option value="Remote">Remote</option>
							<option value="Hybrid">Hybrid</option>
                        </select>
                    </div>
					
					<div class="form-group">
                        <label for="recruiter">Recruiter Name</label>
                        <input type="text" id="recruiter_edit" name="recruiter" optional>
                    </div>
					
					<div class="form-group">
                        <label for="budget">Budget</label>
                        <input type="text" id="budget_edit" name="budget" optional>
                    </div>
					
					<div class="form-group">
                        <label for="comment">Comment</label>
                        <input type="text" id="comment_edit" name="comment" optional>
                    </div>
        
        
                    <div class="form-group">
                        <label for="startdate">Start Date</label>
                        <input type="date" id="startdate_edit" name="startdate" required>
                    </div>
        
                    <div class="form-group">
                        <label for="enddate">End Date</label>
                        <input type="date" id="enddate_edit" name="enddate" optional>
                    </div>
        
                    <div class="form-group">
                        <label for="display">Display</label>
                        <select id="display_edit" name="display" required>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status_edit" name="status" required>
                            <option value="Open">Open</option>
                            <option value="Inprogress">Inprogress</option>
							<option value="Filled">Filled</option>
							<option value="onhold">onhold</option>
							<option value="Lost">Lost</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <button type="submit">Submit</button>
                    </div>
                </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
         setTimeout(function(){
        document.getElementById('alert').style.display = 'none';
    }, 5000);
        function disablealert(){

          var alert = document.getElementById('alertMessage');
          alert.style.display = 'none';
        }
        function AddRequirementModal() {
            document.getElementById("requirementModal").style.display = "block";
            
        }
        function editrequirementModal() {
           document.getElementById("editModal").style.display = "block";
           // var button = $(event.relatedTarget);  // The button that triggered the modal
            //var reqId = button.data('id')
        }

        $('#editModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);  // The button that triggered the modal
            var reqId = button.data('id');
            $.ajax({
                url: '/getreq/'+ reqId,
                type: 'GET',
                success: function(response) {
                    // Populate the modal with user data
                    $('#requirementid').val(response.id);
                    $('#requirementname_edit').val(response.requirementname);
                    $('#clientname_edit').val(response.clientname);
                    $('#clientmanager_edit').val(response.clientmanager);
                    $('#departmentname_edit').val(response.departmentname);
                    $('#accountmanager_edit').val(response.accountmanager);
                    $('#jobdescription_edit').val(response.jobdescription);
                    $('#workexperience_edit').val(response.workexperience);
                    $('#openposition_edit').val(response.openposition);
                    $('#timing_edit').val(response.timing);
                    $('#locationname_edit').val(response.locationname);
                    $('#workmode_edit').val(response.workmode);
                    $('#recruiter_edit').val(response.recruiter);
                    $('#budget_edit').val(response.budget);
                    $('#comment_edit').val(response.comment);
                    $('#startdate_edit').val(response.startdate);
                    $('#enddate_edit').val(response.enddate);
                    $('#display_edit').val(response.display);
                    $('#status_edit').val(response.status);
                }
            });
        });
        

        function closeModal() {
           
            document.getElementById("requirementModal").style.display = "none";
            alert = request.args.get('alert', None)
        }

        function editcloseModal() {
            document.getElementById("editModal").style.display = "none";
            alert = request.args.get('alert', None)
        }

        document.getElementById('color').addEventListener('input', function(event) {
        var selectedColor = event.target.value;

        document.body.style.backgroundColor = selectedColor;
        $(".modal").css("background-color", selectedColor);
    });


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
